@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

body {
  font-family: "Roboto", sans-serif;
  background-color: #f3f3f3;
}

* {
  margin: 0;
  box-sizing: border-box;
}

/* App ================================================================ */
.App {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100svh;
}

/* Nav ================================================================ */
.nav-link:hover {
  color: var(--bs-primary) !important;
}
@media (max-width: 768px) {
  .nav-link {
    transition: padding 0.15s;
  }
  .nav-link:hover {
    padding-inline-start: 1rem;
  }
}

/* Section Title ===================================================== */
.section-title h1 {
  position: relative;
  width: fit-content;
}
.section-title h1::before {
  content: "";
  position: absolute;
  top: 100%;
  transform: translateY(-50%);
  inset-inline: 0;
  height: 0.15rem;
  border-radius: 1rem;
  background-color: var(--bs-dark);
}
